USE [master]
GO
/****** Nesnesi: Database [KutuphaneDB] Betik Tarihi: 27.06.2026 12:44:01 ******/
CREATE DATABASE [KutuphaneDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'KutuphaneDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\KutuphaneDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'KutuphaneDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\KutuphaneDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [KutuphaneDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [KutuphaneDB]
GO
/****** Nesnesi: Table [dbo].[Kitaplar] Betik Tarihi: 27.06.2026 12:44:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kitaplar](
	[KitapID] [int] IDENTITY(1,1) NOT NULL,
	[Adi] [nvarchar](50) NOT NULL,
	[YazarAdi] [nvarchar](50) NOT NULL,
	[YazarSoyadi] [nvarchar](50) NULL,
	[SayfaSayisi] [int] NOT NULL,
	[KutuphanedeMi] [bit] NOT NULL,
 CONSTRAINT [PK_Kitaplar] PRIMARY KEY CLUSTERED 
(
	[KitapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[OduncVerilenler] Betik Tarihi: 27.06.2026 12:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OduncVerilenler](
	[IslemID] [int] IDENTITY(1,1) NOT NULL,
	[KitapID] [int] NOT NULL,
	[UyeID] [int] NOT NULL,
	[VerilisTarihi] [datetime] NOT NULL,
	[SonTeslimTarihi] [datetime] NOT NULL,
	[IadeEdildiMi] [bit] NOT NULL,
 CONSTRAINT [PK_OduncVerilenler] PRIMARY KEY CLUSTERED 
(
	[IslemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Nesnesi: Table [dbo].[Uyeler] Betik Tarihi: 27.06.2026 12:44:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Uyeler](
	[UyeID] [int] IDENTITY(1,1) NOT NULL,
	[UyeAdi] [nvarchar](50) NOT NULL,
	[UyeSoyadi] [nvarchar](50) NOT NULL,
	[TelefonNumarasi] [int] NOT NULL,
 CONSTRAINT [PK_Uyeler] PRIMARY KEY CLUSTERED 
(
	[UyeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Kitaplar] ON 

INSERT [dbo].[Kitaplar] ([KitapID], [Adi], [YazarAdi], [YazarSoyadi], [SayfaSayisi], [KutuphanedeMi]) VALUES (1, N'Perde ve Mana', N'Ibrahim', N'Kalin', 100, 1)
INSERT [dbo].[Kitaplar] ([KitapID], [Adi], [YazarAdi], [YazarSoyadi], [SayfaSayisi], [KutuphanedeMi]) VALUES (2, N'Nutuk', N'Mustafa Kemal', N'Atatürk', 600, 1)
INSERT [dbo].[Kitaplar] ([KitapID], [Adi], [YazarAdi], [YazarSoyadi], [SayfaSayisi], [KutuphanedeMi]) VALUES (3, N'Suç ve Ceza', N'Fyodor', N'Dostoyevski', 687, 1)
SET IDENTITY_INSERT [dbo].[Kitaplar] OFF
GO
SET IDENTITY_INSERT [dbo].[OduncVerilenler] ON 

INSERT [dbo].[OduncVerilenler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [SonTeslimTarihi], [IadeEdildiMi]) VALUES (1, 1, 1, CAST(N'2026-06-20T23:19:13.923' AS DateTime), CAST(N'2026-07-04T23:19:13.923' AS DateTime), 0)
INSERT [dbo].[OduncVerilenler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [SonTeslimTarihi], [IadeEdildiMi]) VALUES (2, 1, 1, CAST(N'2026-06-20T23:19:15.127' AS DateTime), CAST(N'2026-07-04T23:19:15.127' AS DateTime), 1)
INSERT [dbo].[OduncVerilenler] ([IslemID], [KitapID], [UyeID], [VerilisTarihi], [SonTeslimTarihi], [IadeEdildiMi]) VALUES (3, 9, 8, CAST(N'2026-06-22T16:43:24.967' AS DateTime), CAST(N'2026-07-06T16:43:24.967' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[OduncVerilenler] OFF
GO
SET IDENTITY_INSERT [dbo].[Uyeler] ON 

INSERT [dbo].[Uyeler] ([UyeID], [UyeAdi], [UyeSoyadi], [TelefonNumarasi]) VALUES (1, N'Ahmet', N'Yılmaz', 555123456)
INSERT [dbo].[Uyeler] ([UyeID], [UyeAdi], [UyeSoyadi], [TelefonNumarasi]) VALUES (2, N'Mehmet', N'Demir', 542987654)
INSERT [dbo].[Uyeler] ([UyeID], [UyeAdi], [UyeSoyadi], [TelefonNumarasi]) VALUES (3, N'Ayşe', N'Kaya', 533456789)
SET IDENTITY_INSERT [dbo].[Uyeler] OFF
GO
ALTER TABLE [dbo].[OduncVerilenler]  WITH CHECK ADD  CONSTRAINT [FK_OduncVerilenler_Kitaplar] FOREIGN KEY([KitapID])
REFERENCES [dbo].[Kitaplar] ([KitapID])
GO
ALTER TABLE [dbo].[OduncVerilenler] CHECK CONSTRAINT [FK_OduncVerilenler_Kitaplar]
GO
ALTER TABLE [dbo].[OduncVerilenler]  WITH CHECK ADD  CONSTRAINT [FK_OduncVerilenler_Uyeler] FOREIGN KEY([UyeID])
REFERENCES [dbo].[Uyeler] ([UyeID])
GO
ALTER TABLE [dbo].[OduncVerilenler] CHECK CONSTRAINT [FK_OduncVerilenler_Uyeler]
GO
USE [master]
GO
